<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить событие</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{message.type}}" *ngIf="message?.text">{{message.text}}</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="categories?.length > 0">
      <div class="form-group">
        <label class="control-label" for="category">Выберите категорию</label>
        <select class="form-control" id="category" name="category_id" [ngModel]="categories[0].id" required>
          <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Выберите тип</label>
        <div>
          <label *ngFor="let type of types">
            <input class="radio" name="type" type="radio" [value]="type.type" [ngModel]="'outcome'" required>
            <span>{{type.label}}</span>
          </label>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error': amount.invalid && amount.touched}">
        <label class="control-label" for="amount">Введите сумму</label>
        <input class="form-control" type="number" id="amount" name="amount" [ngModel]="1" min="1" #amount="ngModel" required>
        <span class="form-help-text" *ngIf="amount.invalid && amount.touched">Поле обязательно для заполнения. </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': description.invalid && description.touched}">
        <label class="control-label" for="description">Введите описание</label>
        <input class="form-control" type="text" id="description" name="description" ngModel #description="ngModel" required>
        <span class="form-help-text" *ngIf="description.invalid && description.touched">Поле обязательно для заполнения. </span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Добавить</button>
    </form>
  </div>
</div>