<div class="title-block">
  <h3 class="title">
    Страница планирования
    <span class="sparkline bar"></span>
  </h3>
</div>

<div class="text-center" *ngIf="!isLoaded">
  <wfm-loader></wfm-loader>
</div>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Расходы</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            Общий остаток:
            <span class="text-success">{{bill | number: '1.2'}} руб.</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="alert alert-{{message.type}}" *ngIf="message?.text">{{message.text}}</div>
          <div *ngIf="categories?.length > 0 && events?.length > 0">
            <div class="row" *ngFor="let cat of categories">
              <div class="col-xs-6">
                <div class="n-progress">
                  <div class="progress-bar {{getCategoryColorClass(cat)}}" [ngStyle]="{width: getCategoryPercent(cat)}">
                    <span>{{cat.name}}</span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <p>
                  <span class="text-{{getCategoryColorClass(cat)}}">{{getCategoryCost(cat) | number: '1.2'}}</span>
                  из
                  <span class="text-primary">{{cat.capacity | number: '1.2'}}</span>
                  | осталось
                  <span class="text-{{getCategoryColorClass(cat)}}">{{cat.capacity - getCategoryCost(cat) | number: '1.2' }}</span> (руб.)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>