<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{message.type}}" *ngIf="message?.text">{{message.text}}</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
        <label class="control-label" for="category-name">Введите название</label>
        <input type="text" id="category-name" class="form-control" name="name" #name="ngModel" ngModel required>
        <span *ngIf="name.invalid && name.touched" class="form-help-text">Название категории не может быть пустым. </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': capacity.invalid && capacity.touched}">
        <label class="control-label" for="category-value">Введите лимит</label>
        <input type="number" min="1" id="category-value" class="form-control" name="capacity" #capacity="ngModel" [ngModel]="1" required>
        <span *ngIf="capacity.invalid && capacity.touched" class="form-help-text">Ошибки валидации. </span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Добавить</button>
    </form>
  </div>
</div>