<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <div class="alert alert-{{message.type}}" *ngIf="message?.text">{{message.text}}</div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="categories?.length > 0">
      <div class="form-group">
        <label class="control-label" for="e-select-category">Выберите категорию</label>
        <select class="form-control" id="e-select-category" [(ngModel)]="currentCategoryId" [ngModelOptions]="{standalone: true}"
          (change)="onCategoryChange()">
          <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
        </select>
      </div>
      <div class="form-group" [ngClass]="{'has-error': name.invalid && name.touched}">
        <label class="control-label" for="category-name">Введите название</label>
        <input type="text" id="category-name" class="form-control" name="name" #name="ngModel" [ngModel]="currentCategory?.name" required>
        <span *ngIf="name.invalid && name.touched" class="form-help-text">Название категории не может быть пустым. </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': capacity.invalid && capacity.touched}">
        <label class="control-label" for="e-category-value">Введите лимит</label>
        <input type="number" min="1" id="e-category-value" class="form-control" name="capacity" #capacity="ngModel" [ngModel]="currentCategory?.capacity"
          required>
        <span *ngIf="capacity.invalid && capacity.touched" class="form-help-text">Ошибки валидации. </span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Редактировать</button>
    </form>
  </div>
</div>