<div class="text-center" *ngIf="!isLoaded">
  <wfm-loader></wfm-loader>
</div>

<div *ngIf="isLoaded">
  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['/system/history']">
        <i class="fa fa-arrow-left"></i>
      </a>
      Страница записи №{{event.id}}
      <span class="sparkline bar"></span>
    </h3>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="card" [ngClass]="{'card-success': event.type === 'income', 'card-danger': event.type === 'outcome'}">
          <div class="card-header">
            <div class="header-block">
              <p class="title" *ngIf="event.type==='income'">Доход</p>
              <p class="title" *ngIf="event.type==='outcome'">Расход</p>
            </div>
          </div>
          <div class="card-block">
            <ul>
              <li>Сумма:
                <strong>{{event.amount | number: '1.2'}} руб.</strong>
              </li>
              <li>Категория:
                <strong>{{category.name}}</strong>
              </li>
              <li>Комментарий:
                <strong>{{event.description}}</strong>
              </li>
            </ul>
          </div>
          <div class="card-footer">{{event.date}}</div>
        </div>
      </div>
    </div>
  </section>

</div>