<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Список событий</h3>
          </div>
          <div class="form-inline pull-right m-r-2">
            <div class="form-group">
              <input type="text" class="form-control" [placeholder]="searchPlaceholder" [(ngModel)]="searchValue">
            </div>
            <div class="btn-group" wfmDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle">
                Параметр
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="changeCriteria('amount')">Сумма</a>
                <a class="dropdown-item" (click)="changeCriteria('created_at')">Дата</a>
                <a class="dropdown-item" (click)="changeCriteria('category')">Категория</a>
                <a class="dropdown-item" (click)="changeCriteria('description')">Описание</a>
                <a class="dropdown-item" (click)="changeCriteria('type')">Тип</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Категория</th>
                <th>Описание</th>
                <th>Тип</th>
                <th class="text-lg-center">Действие</th>
              </tr>
            </thead>
            <tbody></tbody>
            <tr *ngFor="let event of events | wfmFilter:searchValue:searchField; let idx = index">
              <th scope="row">{{idx + 1}}</th>
              <td>{{event.amount | number: '1.2'}}</td>
              <td>{{event.created_at | wfmMoment: 'YYYY-MM-DD HH:mm:ss'}}</td>
              <td>{{event.catName}}</td>
              <td>{{event.description}}</td>
              <td>
                <span class="label label-success" *ngIf="event.type == 'income'">Доход</span>
                <span class="label label-danger" *ngIf="event.type == 'outcome'">Расход</span>
              </td>
              <td class="text-lg-center">
                <a [routerLink]="['/system/history', event.id]" class="btn btn-primary-outline">Открыть</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>