<div class="title-block">
  <h3 class="title pull-left">
    Страница истории
    <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>

<div class="text-center" *ngIf="!isLoaded">
  <wfm-loader></wfm-loader>
</div>

<div class="card-block" *ngIf="message?.text">
  <div class="alert alert-{{message.type}}">{{message.text}}</div>
</div>

<div *ngIf="isLoaded && filteredEvents?.length > 0">
  <wfm-history-chart [data]="chartData"></wfm-history-chart>
  <wfm-history-events [categories]="categories" [events]="filteredEvents"></wfm-history-events>

  <div *ngIf="isFilterVisible">
    <wfm-history-filter [categories]="categories" (onFilterApply)="onFilterApply($event)" (onFilterCancel)="onFilterCancel()"></wfm-history-filter>
  </div>
</div>